/* body {
  font-family: Roboto, sans-serif;
} */

.container-top,
.footer {
  background: #1F2937;
  color: #F9FAF8;
}

.container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header, 
.hero {
  width: 850px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 16px;
}

.hero-main {
  font-weight: 900;
  font-size: 48px;
}

.hero-second {
  font-size: 18px;
  color: #E5E7EB;
  padding: 14px 0;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

button, 
.sign-up {
  background-color: #3882F6;
}

.info-head {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
}

.testimonial {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0 90px;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  width: 770px;
}

.quote-a {
  width: 675px;
  text-align: right;
  font-weight: bold;
  font-size: 24px;
}

.header {
  display: flex;
  align-items: baseline;
  padding: 12px 0;
  justify-content: space-between;
}

.hero {
  padding: 100px  0;
  display: flex;
  flex-shrink: 0;
  gap: 35px;
}

button {
  border: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 8px 36px;
  border-radius: 8px;
}

.info {
  padding: 42px 250px 70px;
}

.info-subtext {
  display: flex;
  padding-top: 42px;
  gap: 42px;
  justify-content: center;
}

.info-div {
  width: 160px;
  text-align: center;
  font-size: 18px;
}

.info-subtext > div > img {
  border-radius: 12px;
  border: 5px solid #3882F6;
}

.bottom {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  box-sizing: border-box;
  height: 150px;
  width: 1000px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 80px;
}

.sign-up-text-main {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.sign-up-text-second {
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up-btn {
  padding: 8px 32px;
  border: 2px solid #F9FAF8;
}